body {
    /* background: linear-gradient(#cadeec, #46c8e5); */
    background: repeating-linear-gradient(-225deg, #cadeec, #5fc9fa 50%);
    /* background: repeating-linear-gradient(to left top, #ecdcca, #fdca90 50%); */
    min-width: 300px;
    font-family: 'Finlandica', sans-serif;
    font-size: 20px;
}

i:hover {
    transform: scale(1.2);
}

/* header and footer*/
nav {
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #12669b;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 5px 12px rgba(250, 240, 240, 0.22);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: orange;
    animation: pulse 5s infinite;
}

/* @keyframes pulse {
    0% {
        border-bottom: 2px solid rgb(248, 247, 244);
    }
    100% {
        border-bottom: 2px solid orange;
    }
} */


footer {
    background-color: #3885bd;
}

/* nav {
    background-color: #f0e6db !important;
}
footer {
    background-color: #f5880b !important;
} */
nav .img-logo {
    width: auto;
    height: 38px;
}

nav .active {
    color: rgb(255, 136, 0) !important;
    border-bottom: 2px solid rgb(255, 136, 0) !important;
    font-weight: 800;
    /* border-bottom: 2px solid orange; */
}

footer .col-md-5 h3 {
    font-size: 20px;
}

footer .col-md-5 p {
    font-size: 15px;
}

footer .col-md-6 i {
    font-size: 40px;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .img-logo {
        width: auto;
        height: 30px;
    }

    footer .col-md-5 h3,
    footer .col-md-5 p {
        text-align: center;
    }
}

.text-center-header {
    margin-top: 150px;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .text-center-header {
        margin-top: 100px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .text-center-header {
        margin-top: 80px;
        margin-bottom: 20px;
    }
}