body {
    /* background: linear-gradient(#cadeec, #46c8e5); */
    background: repeating-linear-gradient(to left top, #cadeec, #5fc9fa 50%);
    /* background: repeating-linear-gradient(to left top, #ecdcca, #fdca90 50%); */
    min-width: 300px;
    font-family: 'Finlandica', sans-serif;
    font-size: 20px;
}

/* header and footer*/
/* nav {
    background-color: #f0e6db !important;
}
footer {
    background-color: #f5880b !important;
} */
nav .img-logo {
    width: auto;
    height: 38px;
}

nav .active {
    color: rgb(211, 154, 47) !important;
    font-weight: 800;
    /* border-bottom: 2px solid orange; */
}

footer .col-md-5 h3 {
    font-size: 20px;
}

footer .col-md-5 p {
    font-size: 15px;
}

footer .col-md-6 i {
    font-size: 40px;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .img-logo {
        width: auto;
        height: 30px;
    }

    footer .col-md-5 h3,
    footer .col-md-5 p {
        text-align: center;
    }
}